.card{
    border-radius: 3em 3em 3em 3em;
    /* box-shadow: 0 0 10px teal; */
}
.card-ucs{
    border-radius: 3em 3em 3em 3em;
    box-shadow: 0 0 10px rgb(14, 240, 240);
}
.card-ofc{
    border-radius: 3em 3em 3em 3em;
    box-shadow: 0 0 10px rgb(10, 110, 223);
}
.card-lgo{
    border-radius: 3em 3em 3em 3em;
    box-shadow: 0 0 10px teal;
}
.cardshadow{
    border-radius: 3em 3em 3em 3em;
    box-shadow: 0 0 10px teal;
}
.d-shadow{
    /* border-radius: 3em 3em 3em 3em; */
    box-shadow: 0 0 10px teal;
}
.cardacc{
    border-radius: 4em 4em 4em 4em;
    box-shadow: 0 0 10px pink;
    /* box-shadow: 0 0 10px rgb(232, 187, 243); */
}
.inputacc{
    border-radius: 4em 4em 4em 4em;
    box-shadow: 0 0 10px pink;
}
.inputmedsalt{
    border-radius: 4em 4em 4em 4em;
    box-shadow: 0 0 10px rgb(189, 187, 187);
}
.cardmedsalt{
    border-radius: 4em 4em 4em 4em;
    box-shadow: 0 0 10px rgb(161, 160, 160);
    /* box-shadow: 0 0 10px rgb(232, 187, 243); */
}
.cardclaim{
    border-radius: 4em 4em 4em 4em;
    box-shadow: 0 0 10px rgb(252, 161, 119);
    /* box-shadow: 0 0 10px rgb(247, 198, 176); */
}

/* .checkbox{
    border: 10px solid teal;
} */
.dcheckbox{         
    width: 20px;
    height: 20px;       
    /* border-radius: 2em 2em 2em 2em; */
    border: 10px solid pink;
    /* color: teal; */
    /* border-color: teal; */
    box-shadow: 0 0 10px pink;
    /* box-shadow: 0 0 10px teal; */
}
 