.card{
    border-radius: 3em 3em 3em 3em;
    /* box-shadow: 0 0 10px teal; */
}
.card-ucs{
    border-radius: 3em 3em 3em 3em;
    box-shadow: 0 0 10px rgb(14, 240, 240);
}
.card-ofc{
    border-radius: 3em 3em 3em 3em;
    box-shadow: 0 0 10px rgb(10, 110, 223);
}
.card-lgo{
    border-radius: 3em 3em 3em 3em;
    box-shadow: 0 0 10px teal;
}
.cardshadow{
    border-radius: 3em 3em 3em 3em;
    box-shadow: 0 0 10px teal;
}
.d-shadow{
    /* border-radius: 3em 3em 3em 3em; */
    box-shadow: 0 0 10px teal;
}
.cardshadowacc{
    border-radius: 4em 4em 4em 4em;
    /* box-shadow: 0 0 10px teal; */
    box-shadow: 0 0 10px rgb(232, 187, 243);
}
.inputacc{
    /* border-radius: 3em 3em 3em 3em; */
    box-shadow: 0 0 10px rgb(232, 187, 243);
}

/* .checkbox{
    border: 10px solid teal;
} */
.d-checkbox{         
    width: 20px;
    height: 20px;       
    /* border-radius: 2em 2em 2em 2em; */
    border: 10px solid teal;
    /* color: teal; */
    /* border-color: teal; */
    box-shadow: 0 0 10px teal;
    /* box-shadow: 0 0 10px teal; */
}
.nav{

    border-radius: 3em 3em 3em 3em;
    background-color: aliceblue;
    /* box-shadow: 0 0 10px teal; */
}
.nav-link{
    border-radius: 20 20 10 10;
    box-shadow: 0 0 10px teal;
}